# Dependencies
**/node_modules/
**/dist/

# Local env files
**/.env.local
**/.env.*.local

# Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Large media assets (ignore local video file to avoid GitHub size limits)
**/public/assets/video.mp4

